@model Abertura
@{
  ViewData["Title"] = "Bem-vindo!";
}

<section class="bs-docs-section">
  <div class="row">
    <div class="p-4 mt-4 p-md-5 mb-4 rounded text-body-emphasis bg-success">
      <h1>Bootstrap Blog Template</h1>
      <p>This responsive Blog template is done in Bootstrap 3 with no extra CSS or Javascript</p>
    </div>
  </div>
</section>

<div class="bs-docs-section">

  <div class="row">
    <div class="col-lg-8">
      <div class="d-flex flex-row justify-content-between flex-wrap">

        @foreach (var post in Model?.Posts)
        {
          <div class="card mb-4" style="width: 26rem;">
            <img class="card-img-top" src="@post.Imagem" alt="@post.Titulo">
            <div class="card-body pt-1">
              <p class="text-muted clearfix">
                <i class="bi bi-person float-start">  @post?.Autor</i>
                <i class="bi bi-calendar3 float-end">  @post.CriadoEm.ToShortDateString()</i>
              </p>
              <h3>@post.Titulo</h3>
              <p>Nulla vehicula semper tellus, eleifend convallis dolor accumsan vitae. Donec diam lorem, vulputate eget pharetra at, laoreet ac augue. Vestibulum tellus justo, faucibus quis hendrerit sit amet, rutrum non nulla[...]</p>
              <a asp-controller="Posts" asp-action="Visualizar" asp-route-id="@post.Id" class="btn btn-default">Ler Mais...</a>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body">

          <h4 class="text-center mb-4">Os 5 Posts mais Comentados!</h4>

          @foreach (var popular in Model?.Populares)
          {
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="@popular.Imagem" alt="@popular.Titulo" class="img-thumbnail img-responsive">
              </div>
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h5>@popular.Titulo</h5>
                <p class="text-muted mb-1"><i class="bi bi-calendar3"></i> @popular.CriadoEm.ToShortDateString()</p>
                <p class="text-muted mb-1"><spam class="badge bg-primary rounded-pill ml-2"> @popular.TotalComentarios </spam> Comentários</p>
              </div>
            </div>
            <hr class="my-2">
          }
        </div>
      </div>


    </div>
  </div>

</div>

