@model List<PostPopularVm>
@{
  ViewData["Title"] = "Gerenciar Posts";
}
<div class="container">
  <div class="clearfix my-3">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-success float-start btn-w-padrao">< VOLTAR</a>
    <a asp-area="" asp-controller="Posts" asp-action="Criar" class="btn btn-success float-end btn-w-padrao">CRIAR POST</a>
  </div>

  <h2 class="my-2">Posts Publicados</h2>

  <div class="table-responsive small">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center">CRIADO EM</th>
          <th scope="col">TÍTULO</th>
          <th scope="col">AUTOR</th>
          <th scope="col" class="text-center">ALTERADO EM</th>
          <th scope="col" class="text-center">COMENTARIOS</th>
          <th scope="col" class="text-center">#</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var post in Model){
          <tr>
            <th class ="text-center" scope="row">@post.CriadoEm.ToShortDateString()</th>
            <td>@post.Titulo</td>
            <td>@post.AutorNome</td>
            <td class="text-center"> @post.AlteradoEm?.ToShortDateString()</td>
            <td class="text-center"><h5><spam class="badge bg-info rounded-pill"> @post.TotalComentarios </spam></h5></td>
            <td class="text-center">
              <a asp-action="Editar" asp-route-id="@post.Id" class="btn btn-sm btn-warning mx-1" title="Editar"><i class="bi bi-pencil"></i></a>
              <a class="btn btn-sm btn-danger" title="Excluir" onclick="excluirPost(@post.Id)"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>


@section Scripts {
  <script>
    function excluirPost(id){
      if (confirm("Voçê deseja excluir o post selecionado?")) {
        $.post(`/excluir/${id}`, function() { });
      }
    }
  </script>
}
